<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>战役log</title>
</head>
<body>
    <h1>{{ adventure.name }}</h1> 

    <div>
        {{#each adventure.logs}}
            <p>
                <a href="/log/{{this.id}}">{{this.name}}</a>
            </p>
        {{/each}}
    </div>
</body>
</html>