<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log</title>
</head>
<body>
    <h1>{{log.name}}</h1>
    <h2>创建时间：{{log.createdAt}}</h2>
    {{{log.content}}}
</body>
</html>